<div class="img-thumbnail", id="margem", style="width:65%"> 
  <% if Rails.env.development? %>
      <%= image_tag(Rails.root.join('public', 'system', 'dragonfly', 'development', "#{kit.image_uid}"), alt: "QRCODE", class: "gravatar") %>
  <% else %>
      <%= image_tag('https://s3-sa-east-1.amazonaws.com/odontokits/' + "#{kit.image_uid}", alt: "QRCODE", class: "gravatar") %>
  <% end %>
          <b style="visibility:hidden">Nome: this is just to fill in</b>
          <br>
          <b>Nome: </b> <%= kit.aluno.nome %>
          <br>
          <b>Período: </b> <%= kit.aluno.periodo %>
          <br>
          <b>Kit: </b> <%= kit.nome %>
</div>