<div class="img-thumbnail", id="margem", style="width:70%"> 
  <% if Rails.env.development? %>
      <%= image_tag(Rails.root.join('public', 'system', 'dragonfly', 'development', "#{kit.image_uid}"), alt: "QRCODE", class: "gravatar") %>
  <% else %>
      <%= image_tag('https://s3-sa-east-1.amazonaws.com/odontokits/' + "#{kit.image_uid}", alt: "QRCODE", class: "gravatar") %>
  <% end %>
      <container>
          <b>Nome: </b> <%= kit.aluno.nome %>
          </br>
          <b>Curso: </b> <%= "Odontolasdaogia Odontolasdaogia Odontolasdaogia Odontolasdaogia" %>
          </br>
          <b>Kit: </b> <%= kit.nome %>
      </container>
</div>